blinker==1.8.2
click==8.1.7
Flask==2.2.5
pymongo==4.3.3
Flask-SQLAlchemy==3.1.1
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.5.2
Flask-CORS==4.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
psycopg2-binary==2.9.9
SQLAlchemy==2.0.34
typing_extensions==4.12.2
Werkzeug==2.2.3
modal
openai>=0.27.0,<2.0.0
torch
transformers
